* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    background-color: #1a53ff;

}
body {
	background: white;
	width:  100vw;
	height: 100vh;
	overflow:  hidden;
	margin: 0;
}

#canvas1 {
	border: none;
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	padding:0;
	margin:0;
	}

#rotationImage, #fullScreenButton {
	display:  none;
}
