* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background: white;
	width:  100vw;
	height: 100vh;
	overflow:  hidden;
}
#canvas1 {
	border: 5px solid black;
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	padding:0px;
	margin:0px;
	}


