* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background: white;
	width:  100vw;
	height: 100vh;
	overflow:  hidden;
}
#canvas1 {
	border: 5px solid black;
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	padding:0px;
	margin:0px;
	}
}

.controls {
	position: absolute;

}
/*#rotation {
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
}*/

#rotation {

        text-align: center;
        vertical-align: middle;
        border: 2px solid goldenrod;
        border-radius: 7px;
        background-color: gold;
        color: orangeRed;
        font-size: 32px;
        font-weight: bold;
        font-family: "Courier New";
        width: 5em;
        margin: 5px auto;}

#rotation img {
	width: 20px;
	height: 20px;
}

